<div class="how-it-works">
  <div class="how-it-works__title">
    <h2>How it works</h2>
  </div>
  <div class="how-it-works__steps">
      <div class="how-it-works__steps__step">
          <div class="how-it-works__steps__step__image">
              <mat-icon svgIcon="script2" class="test"></mat-icon>
          </div>
          <div class="how-it-works__steps__step__text">
              Add all necessary scripts
          </div> 
        </div>
    <div class="how-it-works__steps__step">
        <div class="how-it-works__steps__step__image">
            <mat-icon svgIcon="database" class="test"></mat-icon>
        </div>
        <div class="how-it-works__steps__step__text">
            Create database connections
        </div> 
      </div>
    <div class="how-it-works__steps__step">
      <div class="how-it-works__steps__step__image">
          <mat-icon svgIcon="beer" class="test"></mat-icon>
      </div>
      <div class="how-it-works__steps__step__text">
          Drink beer while dozens of databases are upgrading without you
      </div> 
    </div>
  </div>
</div>
