@import '../../../sass/variables.scss';


.how-it-works__title {
    font-size: 3vw;
    text-transform: uppercase;
    color: $primary-color;
    margin-top: 15px;
}

.how-it-works {
    width: 100%;
    max-width: 1280px;
    text-align: center;
}

.how-it-works__steps {
    width: 100%;
    margin-top: 50px;
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
}

.how-it-works__steps__step {
    width: 33%;
    min-width: 300px;
    text-align: center;
}

.how-it-works__steps__step__image {
    padding: 30px;
}

.how-it-works__steps__step__image__icon {
    font-size: 144px;
    height: 144px;
    width: 144px;
    line-height: 144px;
    color: $primary-color;
}

.how-it-works__steps__step__text {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
}


@media (max-width: 920px) { 
    .how-it-works__title {
        font-size: 4vw;
    }
    .how-it-works__steps {
        flex-direction: column;
        align-items: center;
    }
    .how-it-works__steps {
        margin-top: 5px;
    }
    .how-it-works__steps__step__image{
        padding: 5px;
    }
}

@media (max-width: 550px) { 
    .how-it-works__title {
        font-size: 6vw;
    }
}