<div class="how-it-works">
  <div class="how-it-works__title">
    <h2>{{languageService.choosenLanguage.interface.hitTitle}}</h2>
  </div>
  <div class="how-it-works__steps">
      <div class="how-it-works__steps__step">
          <div class="how-it-works__steps__step__image">
              <mat-icon svgIcon="script2" class="how-it-works__steps__step__image__icon"></mat-icon>
          </div>
          <div class="how-it-works__steps__step__text">
            {{languageService.choosenLanguage.interface.hitScripts}}
          </div> 
        </div>
    <div class="how-it-works__steps__step">
        <div class="how-it-works__steps__step__image">
            <mat-icon svgIcon="database" class="how-it-works__steps__step__image__icon"></mat-icon>
        </div>
        <div class="how-it-works__steps__step__text">
            {{languageService.choosenLanguage.interface.hitConnection}}
        </div> 
      </div>
    <div class="how-it-works__steps__step">
      <div class="how-it-works__steps__step__image">
          <mat-icon svgIcon="beer" class="how-it-works__steps__step__image__icon"></mat-icon>
      </div>
      <div class="how-it-works__steps__step__text">
            {{languageService.choosenLanguage.interface.hitBeer}}
      </div> 
    </div>
  </div>
</div>
