@import '../../../sass/variables.scss';

.promo-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    width: 100%;
}