<div class="promo-menu-wrap">
  <div class="promo-menu">
    <div class="promo-menu__logo">
        <mat-icon svgIcon="logo" class="promo-menu__logo__item"></mat-icon>
    </div>
    <nav class="promo-menu__right-bar">
        <div class="promo-menu__right-bar__item-wrap">
            <a class="promo-menu__right-bar__item">
              <div class="promo-menu__right-bar__item__text">english</div>
              <div class="promo-menu__right-bar__item__icon"><mat-icon svgIcon="english" class="promo-menu__right-bar__item__icon_size"></mat-icon></div>
            </a>
        </div>
      <div class="promo-menu__right-bar__item-wrap">
        <a class="promo-menu__right-bar__item">
          <div class="promo-menu__right-bar__item__text">BUY NOW</div>
        </a>
      </div>
      <div class="promo-menu__right-bar__item-wrap">
        <a class="promo-menu__right-bar__item login-button">
          <div class="promo-menu__right-bar__item__text">LOG IN</div>
          <div class="promo-menu__right-bar__item__icon login-icon"><mat-icon svgIcon="right-arrow" class="promo-menu__right-bar__item__icon_size"></mat-icon></div>
        </a>
      </div>
    </nav>
  </div>
</div>
